.section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  z-index: 1;
  background: rgba(255, 255, 255, 0.678);
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 30px;
  width: 780px;
  border-radius: 10px;
}
.vids {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  text-transform: capitalize;
  font-size: 34px;
  letter-spacing: 1px;
}

p {
  margin-bottom: 5px;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.514);
}

.navbar-css {
  border-left: auto;
  border-right: auto;
  display: inline;
}

.navbar {
  margin-top: 10px;
  border-radius: 7px;
}

#button {
  color: black;
  border-color: black;
}
#button:hover {
  color: white;
  background-color: black;
  border-color: white;
}

#current-location {
  margin-left: 10px;
  color: rgb(1, 88, 158);
  border-color: rgb(1, 88, 158);
}
#current-location:hover {
  color: white;
  background-color: rgb(1, 88, 158);
  border-color: white;
}
