#forecast {
  text-align: center;
}

.card-body {
  padding: 10px;
}
.card {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.514);
}
.small-t-emoji {
  font-size: 50px;
}
.small-temps {
  text-align: center;
  font-size: 20px;
}
