.card1 {
  font-size: 22px;
  border: none;
}

.mainTemp {
  margin-bottom: 0;
}
.maintemp {
  font-size: 75px;
}

.maindegrees {
  font-size: 24px;
  position: relative;
  text-align: center;
  vertical-align: top;
  top: 15px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}

.descriptive {
  display: inline-block;
  padding-top: 5px;
  font-size: 23px;
  padding-left: 15px;
  padding-right: 15px;
}
.descriptives {
  text-align: center;
}

.weatherDes {
  display: inline;
  font-size: 23px;
  font-style: italic, bold;
  text-transform: capitalize;
  font-family: sans-serif;
  text-align: center;
}

#todays-date {
  padding-bottom: 0;
  margin-bottom: 0;
}
.today {
  font-size: 25px;
  text-align: center;
}
#icon {
  padding-top: 10px;
  line-height: 60px;
  text-align: center;
}

#two-temps {
  margin-top: 30px;
  color: dimgrey;
  font-size: 23px;
  padding-left: 10px;
  text-align: center;
}
#pre-wind {
  padding-left: 80px;
  padding-top: 10px;
}
#more {
  text-align: right;
  padding-top: 28px;
  font-size: 18px;
  font-style: italic;
  color: rgb(155, 153, 153);
}
